<body>
    <div class="principal-content">
        <div class="register-dogs">
            <form [formGroup]="myForm">
                <div class="title">
                    <h1>Cadastrar cachorro</h1>
                </div>
                <div class="input">
                    <label for="">Nome</label>
                    <input type="text" id="name" formControlName="name">
                </div>
                <div class="input">
                    <Label>Raça</Label>
                    <input type="text" id="breed" formControlName="breed">
                </div>
                <div class="input">
                    <Label>Dono</Label>
                    <input type="text" id="owner" formControlName="owner">
                </div>
                <div class="input">
                    <Label>CPF</Label>
                    <input type="text" id="document" formControlName="document">
                </div>
            </form>
            <div class="button">Cadastrar</div>
        </div>
        <div class="list-dogs">
            <div class="titles">
                <p class="list-title">Nome</p>
                <p class="list-title">Raça</p>
                <p class="list-title">Dono</p>
                <p class="list-title">CPF</p>
            </div>
            <div class="titles">
                <p class="list-data">Borges</p>
                <p class="list-data">Golden</p>
                <p class="list-data">Ingrid</p>
                <p class="list-data">99999999</p>
            </div>
        </div>
    </div>
</body>